[Unit]
Description=rpi-lights
[Service]
ExecStart=/home/garrett/rpi-lights/lights.py --config /home/garrett/rpi-lights/my_config.yaml
Restart=always
RestartSec=30
User=garrett
Group=users
[Install]
WantedBy=multi-user.target
