[Unit]
Description=rpi-lights
[Service]
ExecStart=/usr/bin/lights --config /etc/lights.yaml
Restart=always
RestartSec=30
User=nobody
Group=uucp
[Install]
WantedBy=multi-user.target
